$title-font:'Montserrat', 'Helvetica', sans-serif;;
$main-font-nav:'Muller', 'Helvetica', sans-serif;;
$main-font:'MariadPro', 'Helvetica', sans-serif;;
$main-font-descr:'Roboto', 'Helvetica', sans-serif;;


$font-color-1: #000;
$font-color-2: #878787;
$font-color-3: #fff;
$color-theme: #b8a47e;
$color-title: #292929;

$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 400;

/** Grid variables **/
$container-width: 1200px;

   // transitions   
$prop: all;
$time: 0.5s;
$funct: ease;
